.firstGroup{
    width: 98%;
    margin: 20px auto;
  }
  div.firstGroup>div.ch1 {
    width: 97%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;
    margin: 20px auto;
     
    }
    .firstGroup .ch1 .child1 {
      width: 24%;
    }
   
    .firstGroup .ch1 .child1 img {
      width: 100%;
    }
    .firstGroup .ch1 .child1 .n1 p {
      position: absolute;
      z-index: 2;
      top: 1%;
      left: 1%;
      color: whitesmoke;
      font-family: yekan;
      font-size: 12px;
      padding: 2px 8px;
      box-sizing: border-box;
      border-radius: 2px;
    }
    .firstGroup .ch1 .child1 .t1 {
      background-color: rgb(26, 28, 35);
      height: 240px;
      padding: 30px;
      margin-top: -4px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      transition: 300ms;
    }
    .firstGroup .ch1 .child1 .t1:hover{
      background-color: #313339;
  
    }
    .firstGroup .ch1 .child1 .t1 .dn {
      display: flex;
    }
    .firstGroup .ch1 .child1 .t1 .dn img {
      width: 10%;
    }
    .firstGroup div:nth-of-type(1) .child1 .t1 .dn p {
      color: rgba(236, 236, 236, 0.8);
      margin-top: 5px;
      font-family: yekan;
      font-size: 12px;
    }
    .firstGroup .ch1 .child1 .t1 .p1 h2 {
      color: rgba(255, 255, 255, 0.84);
      margin-top: 5px;
      font-size: 18px;
      font-family: yekan;
    }
    .firstGroup .ch1 .child1 .t1 .p2 h3 {
      color: rgb(255, 180, 0);
      margin-top: 5px;
      font-size: 14px;
      font-family: yekan;
    }
    .firstGroup .ch1 .child1 .t1 .p3 h3 {
      color: rgba(255, 255, 255, 0.72);
      margin-top: 5px;
      font-size: 12px;
      font-family: yekan;
    }
    .firstGroup .ch1 .child1 .t1 .p4 {
      position: absolute;
      bottom: 10px;
    }
    .firstGroup .ch1 .child1 .t1 .p4 h2 {
      color: rgba(255, 255, 255, 0.84);
      font-size: 16px;
      font-family: yekan;
    }
    .firstGroup .ch2 {
      width: 97%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      position: relative;
      margin: 20px auto;
    }
    .firstGroup .ch2 .child1 {
      width: 24%;
    }
    .firstGroup .ch2 .child1 img {
      width: 100%;
    }
    .firstGroup .ch2 .child1 .n1 p {
      position: absolute;
      z-index: 2;
      top: 1%;
      left: 1%;
      color: whitesmoke;
      font-family: yekan;
      font-size: 12px;
      padding: 2px 8px;
      box-sizing: border-box;
      border-radius: 2px;
    }
    .firstGroup .ch2 .child1 .t1 {
      background-color: rgb(26, 28, 35);
      height: 240px;
      padding: 30px;
      margin-top: -4px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      transition: 300ms;
    }
    .firstGroup .ch2 .child1 .t1:hover{
      background-color: #313339;
  
    }
    .firstGroup .ch2 .child1 .t1 .dn {
      display: flex;
    }
    .firstGroup .ch2 .child1 .t1 .dn img {
      width: 10%;
    }
    .firstGroup .ch2 .child1 .t1 .dn p {
      color: rgba(236, 236, 236, 0.8);
      margin-top: 5px;
      font-family: yekan;
      font-size: 12px;
    }
    .firstGroup .ch2 .child1 .t1 .p1 h2 {
      color: rgba(255, 255, 255, 0.84);
      margin-top: 5px;
      font-size: 18px;
      font-family: yekan;
    }
    .firstGroup .ch2 .child1 .t1 .p2 h3 {
      color: rgb(255, 180, 0);
      margin-top: 5px;
      font-size: 14px;
      font-family: yekan;
    }
    .firstGroup .ch2 .child1 .t1 .p3 h3 {
      color: rgba(255, 255, 255, 0.72);
      margin-top: 5px;
      font-size: 12px;
      font-family: yekan;
    }
    .firstGroup .ch2 .child1 .t1 .p4 {
      position: absolute;
      bottom: 10px;
    }
    .firstGroup .ch2 .child1 .t1 .p4 h2 {
      color: rgba(255, 255, 255, 0.84);
      font-size: 16px;
      font-family: yekan;
    }