.threeimage {
    width: 97%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 20px auto;
    position: relative;
  }
  .th {
    width: 32%;
  }
  .th img {
    width: 100%;
  }
  .th .new p {
    position: absolute;
    z-index: 2;
    top: 1%;
    left: 1%;
    color: whitesmoke;
    font-family: yekan;
    font-size: 12px;
    padding: 2px 8px;
    box-sizing: border-box;
    background-color: rgb(222, 0, 0);
    border-radius: 2px;
  }
  
  .th .text1 {
    height: 236px;
    background-color: rgb(26, 28, 35);
    margin-top: -4px;
    padding:20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
  }
 
  .th .text1 .dt {
    display: flex;
  }
  .th .text1 .dt img {
    width: 5%;
  }
  .th .text1 .dt p {
    color: rgba(236, 236, 236, 0.8);
    margin-top: 5px;
    font-family: yekan;
    font-size: 12px;
  }
  .th .text1 .p1 h2 {
    color: rgba(255, 255, 255, 0.84);
    margin-top: 5px;
    font-size: 18px;
    font-family: yekan;
  }
  .th .text1 .p2 h3 {
    color: rgb(255, 180, 0);
    margin-top: 5px;
    font-size: 14px;
    font-family: yekan;
  }
  .th .text1 .p3 h3 {
    color: rgba(255, 255, 255, 0.72);
    margin-top: 5px;
    font-size: 12px;
    font-family: yekan;
  }
  .th .text1 .p4 h2 {
    color: rgba(255, 255, 255, 0.84);
    font-size: 16px;
    font-family: yekan;
    position: absolute;
    bottom: 20px;
  }
  .th .text1:hover{
    background-color: #313339;
  }
  