.footerimg {
    width: 100%;
    height: 454px;
    margin-top: 80px;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    position: relative;
  }
  .changeFooterImg {
    height: 887.17px !important;
  }
  .changeFooterImg2{
    height: 700px !important;
  }
  div.footerimg > img.ft {
    width: 100%;
    height: 454px;
  }
  .changeImg {
    height: 887.17px !important;
  }
  .changeImg2{
    height: 700px !important;
  }
  
  .footerimg .ah {
    width: 100%;
    height: 70%;
    display: flex;
    position: absolute;
    z-index: 5;
    top: 10%;
  }
  .changeah {
    height: 100% !important;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: -40px;
    text-align: center;
  
  }
  .footerimg .ah .al {
    width: 45%;
    height: 100%;
  }
  .changeal {
    display: none !important;
  }
  .footerimg .ah .al img.mm {
    width: 90%;
    height: auto;
    padding-left: 42px;
    margin-top: 6%;
    box-sizing: border-box;
  }
  .footerimg .ah .te {
    width: 55%;
    height: 100%;
  }
  .changete{
    width: 100% !important;
  }
  .footerimg .ah .te h3 {
    font-size: 42.72px;
    font-family: yekan;
    padding-top: 4%;
    padding-left: 8%;
    box-sizing: border-box;
    color: white;
  }
  .footerimg .ah .te p {
    font-size: 18px;
    font-family: yekan;
    padding-top: 2%;
    padding-left: 5%;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.7);
  }
  .footerimg .ah .te .as {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding-top: 2%;
    padding-left: 5%;
    box-sizing: border-box;
    margin-top: 4%;
  }
  .changeas{
    justify-content: center !important;
    margin: 0;
    padding: 0;
  }
  .footerimg .ah .te .as .a1 {
    padding: 3% 8%;
    background-color: rgb(0, 116, 224);
    border: 2px solid rgb(71, 166, 255);
    border-radius: 5px;
    box-sizing: border-box;
  }
  .footerimg .ah .te .as .a1 a {
    font-size: 21.36px;
    color: rgb(255, 255, 255);
    font-family: yekan;
    text-decoration: none;
  }
  .footerimg .ah .te .as .a1 a i {
    padding-right: 10px;
  }
  .footerimg .ah .te .as .a2 {
    padding: 3% 7%;
    background-color: rgb(40, 42, 52);
    border: 2px solid rgb(78, 79, 85);
    border-radius: 5px;
    box-sizing: border-box;
  }
  .footerimg .ah .te .as .a2 a {
    font-size: 21.36px;
    color: rgb(255, 255, 255);
    font-family: yekan;
    text-decoration: none;
  }
  .ak {
    margin-top: 5%;
  }
  .ff {
    display: none;
  }
  .fd{
    width: 100%;
  } 
  .changeff {
    display: block !important;
    width: 95%;
    margin: 20px auto;
  }
   
  