.test {
    width: 97%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .test h2 {
    color: whitesmoke;
    font-family: yekan;
  }
  .ts {
    width: 97%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .ts h2 {
    color: whitesmoke;
    font-family: yekan;
  }