@import "./firstGroup";
@import "./footer";
@import "./footerimg";
@import "./forthGroup";
@import "./header";
@import "./secondGroup";
@import "./setting";
@import "./swiper";
@import "./swiper2";
@import "./test";
@import "./thirdGroup";
@import "./threeimage";
@import "./towimg";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}